:root {
    --accent-color: #000;
    --main-color: #FFF;
}

[data-theme="dark"] {
    --accent-color: #FFF;
    --main-color: #000;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--main-color);
    color: var(--accent-color);
    font-family: 'Ubuntu', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--accent-color);
}

a:visited {
    color: var(--accent-color);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;
}

.logo {
    margin: 16px;
    filter: grayscale(1);
    transition: .3s;
    cursor: pointer;
}

.logo:hover {
    filter: grayscale(0);
}

.nav-buttons {
    display: flex;
    width: 500px;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}

.nav-buttons .icon {
    display: none;
    color: var(--accent-color);
    font-size: 24px;
}

.nav-button, .submit-button, .project-button {
    width: 100px;
    height: 50px;
    background-color: var(--accent-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-color);
    font-family: 'Ubuntu Mono', monospace;
    font-size: 18px;
}

.submit-button:active {
    background-color: #FBAD18;
}

.submit-button:hover {
    background-color: #FBAD18;
    transition: background-color .3s ease-in;
}

/* When the screen is less than 600 pixels wide, hide all links. Show the link that should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
.nav-button {
    display: none;
}
.nav-buttons a.icon {
    float: right;
    display: block;
}
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
    .nav-button.responsive {
        display: flex;
        position: absolute;
        z-index: 7;
    }
    a.icon.responsive {
        position: absolute;
        right: 0;
        top: 0;
    }

    .nav-button.responsive#about-button {
        top: 80px;
        right: 20px;
    }

    .nav-button.responsive#projects-button {
        top: 140px;
        right: 20px;
    }

    .nav-button.responsive#contact-button {
        top: 200px;
        right: 20px;
    }

}




.hero-bg {
    height: calc(100vh - 95px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 100px 0px 180px;
}

.hero img{
    height: 30vw;
}


#hero-hello {
    position: absolute;
    font-family: 'Ubuntu Mono', monospace;
    color: #3B74BA;
    font-size: max(14px, 3vw);
    left: 3vw;
    top: 3vw;
}

#hero-role {
    position: absolute;
    font-family: 'Ubuntu Mono', monospace;
    color: var(--accent-color);
    opacity: 0.6;
    font-size: max(14px, 2.2vw);
    top: 32vw;
    left: 3vw;
}

#hero-welcome {
    position: absolute;
    font-family: 'Ubuntu Mono', monospace;
    color: #F04E32;
    font-size: max(14px, 3vw);
    right: 0;
    top: 26vw;
}

.fa-circle-chevron-down {
    color: var(--accent-color);
    position: absolute;
    bottom: -15vh;
    font-size: 45px;
    transition: .3s;
}

@media screen and (max-width: 600px) {

    .fa-circle-chevron-down {
        bottom: -20vh;
        right: -5vw;

    }
    
    
}

.fa-circle-chevron-down:hover {
    color: #F0609E;
}


#hero1 {
    position: absolute;
    left: 1vw;
}

#hero2 {
    position: absolute;
    left: 20.5vw;
    animation-delay: 200ms;

}

#hero3 {
    position: absolute;
    left: 31.5vw;
    animation-delay: 400ms;
}

#hero4 {
    position: absolute;
    left: 42.5vw;
    animation-delay: 600ms;
}

#hero5 {
    position: absolute;
    left: 53.2vw;
    animation-delay: 800ms;
}

#hero6 {
    position: absolute;
    left: 59vw;
    animation-delay: 1000ms;
}


h1 {
    margin-top: 150px;
    margin-bottom: 80px;
}

h1, h2 {
    font-family: 'Ubuntu Mono', monospace;
}

.about-section, .projects-section, .contact-section {
    width: min(80vw, 1500px);
}

.about-section h1,
.about-section h2{
    color: #3B74BA;
}

.about-section img {
    width: clamp(150px ,20vw, 400px);
}

.about-content {
    display: grid;
    gap: 50px;
    grid-template-columns: 1fr 3fr;
    text-align: justify;
    align-items: center;
    margin: 30px
}

.tech-section {
    grid-row: 2;
    grid-column: 1 / 3;
}

.tech-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: min(80vw, 1500px);
}

@media screen and (max-width: 600px) {
    .about-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px
    }

}


.tech-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.tech-icon figcaption {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 14px;
    margin-top: 10px;
}

.tech-icon img {
    height: 50px;
    width: auto;
}


.projects-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-section h1 {
    align-self: flex-start;
}

.project {
    display: grid;
    grid-template-rows: 80px 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.project article {
    text-align: justify;
}

.project-img {
    grid-row: 1 / span 4;
    place-self: center;
    width: min(30vw, 700px);
    height: min(calc(30vw * 0.8), 560px);
    box-shadow: -15px -25px 0 0 #F04E32;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.project-img img {
    width: min(30vw, 700px);
}

.project-img:hover {
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
}

.project-links {
    display: flex;
    width: 220px;
    margin-top: 20px;
    justify-content: space-between;
}

@media screen and (max-width: 980px) {
    .project {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90vw;
        height: auto;
    }

    .project article {
        width: 80vw;
    }

    .project-img {
        width: 250px;
        height: 200px;
        margin-right: 0px;
        box-shadow: -15px -25px 0 0 #F04E32;
    }

    .project-img img {
        width: 250px;
        height: 200px;
    }
}



.projects-section h1 {
    color: #F04E32;
}

.projects-section h2 {
    text-decoration: underline 5px #F04E32;
    text-underline-position: right under

}


.contact-section h1 {
    color: #FBAD18;
}

.contact-section article {
    text-align: center;
    margin-bottom: 40px;
}

.contact-form {
    display: flex;
    justify-content: center;
}

#fs-frm {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 600px) {
    #fs-frm {
        width: 450px;
    }
}

fieldset {
    display: flex;
    flex-direction: column;
    border: none;
}

fieldset > * {
    margin-bottom: 15px;
    border: none;
    background-color: #ccc;
    padding: 8px;
    color: #000;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
}

input[type="submit"] {
    place-self: end;
    margin-right: 15px;
    cursor: pointer;
    border: none;
}

.contact-section {
    display: flex;
    flex-direction: column;
}


.contact-icons {
    display: flex;
    place-self: center;
    width: 300px;
    justify-content: space-between;
    margin: 25px 0px 50px;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .contact-icons {
        width: 230px;
    }
}

.contact-icons i:hover {
    color: #FBAD18;
    transition: color .3s ease-in-out;
}

footer {
    font-size: 12px;
    margin-top: 200px;
    padding: 10px;
}


/* Initial page load hero letters fade up animation */
.hero-fadeup{
    top:150%;
    opacity:0;
    animation:load_up .75s forwards;
    -webkit-animation:load_up .75s forwards;
}

@keyframes load_up{
    from{opacity:1;top:150%}
    to{opacity:1;top:0%;}
    
}@-webkit-keyframes load_up{
    from{opacity:1;top:150%}
    to{opacity:1;top:0%;}
    
}



  /* Wobble To Bottom Right */
@-webkit-keyframes hvr-wobble-to-bottom-right {
    16.65% {
      -webkit-transform: translate(8px, 8px);
      transform: translate(8px, 8px);
    }
    33.3% {
      -webkit-transform: translate(-6px, -6px);
      transform: translate(-6px, -6px);
    }
    49.95% {
      -webkit-transform: translate(4px, 4px);
      transform: translate(4px, 4px);
    }
    66.6% {
      -webkit-transform: translate(-2px, -2px);
      transform: translate(-2px, -2px);
    }
    83.25% {
      -webkit-transform: translate(1px, 1px);
      transform: translate(1px, 1px);
    }
    100% {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
    }
  }
  @keyframes hvr-wobble-to-bottom-right {
    16.65% {
      -webkit-transform: translate(8px, 8px);
      transform: translate(8px, 8px);
    }
    33.3% {
      -webkit-transform: translate(-6px, -6px);
      transform: translate(-6px, -6px);
    }
    49.95% {
      -webkit-transform: translate(4px, 4px);
      transform: translate(4px, 4px);
    }
    66.6% {
      -webkit-transform: translate(-2px, -2px);
      transform: translate(-2px, -2px);
    }
    83.25% {
      -webkit-transform: translate(1px, 1px);
      transform: translate(1px, 1px);
    }
    100% {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
    }
  }
  .hvr-wobble-to-bottom-right {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
  }
  .hvr-wobble-to-bottom-right:hover, .hvr-wobble-to-bottom-right:focus, .hvr-wobble-to-bottom-right:active {
    -webkit-animation-name: hvr-wobble-to-bottom-right;
    animation-name: hvr-wobble-to-bottom-right;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
  }



/* Nav button animation - Shutter Out Vertical */
.nav-shutter {
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    position: relative;
    background: var(--accent-color);
    color: var(--main-color);
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }

#about-button:before {
    background: #3B74BA;
}

#projects-button:before {
background: #F04E32;
}

#contact-button:before {
    background: #FBAD18;
}

.nav-shutter:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    background: #F04E32;

}
.nav-shutter:hover, .nav-shutter:focus, .nav-shutter:active {
    color: var(--main-color);
}
.nav-shutter:hover:before, .nav-shutter:focus:before, .nav-shutter:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}



/* Animated background pixels */
.pixel {
    position: absolute;
    opacity: .8;
    z-index: -1;
}


/* Toggle switch for dark/light theme */
/*Simple css to style it like a toggle switch*/
.theme-switch-wrapper {
  position: absolute;
  left: 100px;
  top: 22px;
  display: flex;
  align-items: center;
  z-index: 999;
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
  background-image: url("./src/images/togglebg.png");

}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #444444;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#toggle-li {
    display: flex;
}